.hero {
    margin-bottom: 50px;
}

.hero-heading {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0px 20px 0px;
    width: 70%;
}

.hero-text {
    width: 70%;
}

.hero-btns {
    margin-top: 20px;
}

.hero-btn-1 {
    background-color: #4891ff;
    color: white;
    display: inline-block;
    padding: 13px 20px;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
    font-size: 20px;
}

.hero-btn-2 {
    background-color: #e0e0e0;
    color: #333;
    display: inline-block;
    padding: 13px 20px;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
    font-size: 20px;
    margin-left: 15px;
}

@media (max-width:670px) {
    .hero-heading {
        text-align: center;
        font-size: 36px;
        width: 100%;
    }

    .hero-text {
        text-align: center;
        width: 100%;
    }

    .hero-btns {
        display: flex;
        flex-direction: column;
    }

    .hero-btn-2 {
        margin-left: 0px;
        margin-top: 15px;
    }

}