.navbar
{
    padding:20px;
  
}
.navbar .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-menu ul
{
    display: flex;
}
.navbar ul li
{
    padding: 10px 20px;
    color: black;
    font-weight:600;
    transition:0.5s;
}
.navbar ul li:hover
{
    color: #4891ff;
    cursor: pointer;
}
.hamburger-icon
{
   display: none; 
   position: absolute;
   top: 1.2rem;
   right:1rem;
   flex-direction: column;
   justify-content: space-between;
   width: 2.25rem;
   height: 2rem; 
   transition: 2s ease-in;
}
@media (max-width:670px) {
  
   .hamburger-icon
   {
    display: flex;
   }
   .nav-links li
   {
    display: none;
   }
   .nav-links-open
   {
     display: flex;
     flex-direction: column;
     margin-top: 40px;
   }
   .navbar .container
   {
    display: block;
   }
   .navbar ul li
   {
     padding:10px 0px 10px 0px;
   }
   
}